doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title} | HIS Hospital
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css")
    link(rel="stylesheet", href="/css/style.css")
    block styles

  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
      .container-fluid
        a.navbar-brand(href="/")
          i.fas.fa-hospital.me-2
          | HIS Hospital
        button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarNav")
          span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarNav
          ul.navbar-nav.me-auto
            if user
              li.nav-item
                a.nav-link(href="/")
                  i.fas.fa-home.me-1
                  | Inicio
              if ['admin', 'recepcionista'].includes(user.role)
                li.nav-item.dropdown
                  a.nav-link.dropdown-toggle(href="#", role="button", data-bs-toggle="dropdown")
                    i.fas.fa-procedures.me-1
                    | Admisiones
                  ul.dropdown-menu
                    li
                      a.dropdown-item(href="/admission/register")
                        i.fas.fa-user-plus.me-1
                        | Nueva Admisión
                    li
                      a.dropdown-item(href="/admission/list")
                        i.fas.fa-list.me-1
                        | Lista de Admisiones
              li.nav-item
                a.nav-link(href="/patient/list")
                  i.fas.fa-users.me-1
                  | Pacientes
              if user.role === 'admin'
                li.nav-item.dropdown
                  a.nav-link.dropdown-toggle(href="#", role="button", data-bs-toggle="dropdown")
                    i.fas.fa-cog.me-1
                    | Administración
                  ul.dropdown-menu
                    li
                      a.dropdown-item(href="/bed/list")
                        i.fas.fa-bed.me-1
                        | Gestión de Camas
          ul.navbar-nav
            if user
              li.nav-item.dropdown
                a.nav-link.dropdown-toggle(href="#", role="button", data-bs-toggle="dropdown")
                  i.fas.fa-user-circle.me-1
                  | #{user.full_name} (#{user.role})
                ul.dropdown-menu.dropdown-menu-end
                  li
                    a.dropdown-item(href="#")
                      i.fas.fa-user-cog.me-1
                      | Mi Perfil
                  li
                    hr.dropdown-divider
                  li
                    a.dropdown-item(href="/auth/logout")
                      i.fas.fa-sign-out-alt.me-1
                      | Cerrar Sesión
            else
              li.nav-item
                a.nav-link(href="/auth/login")
                  i.fas.fa-sign-in-alt.me-1
                  | Iniciar Sesión

    main.container.my-4
      if success
        .alert.alert-success.alert-dismissible.fade.show(role="alert")
          i.fas.fa-check-circle.me-2
          | #{success}
          button.btn-close(type="button", data-bs-dismiss="alert", aria-label="Close")
      
      if error
        .alert.alert-danger.alert-dismissible.fade.show(role="alert")
          i.fas.fa-exclamation-circle.me-2
          | #{error}
          button.btn-close(type="button", data-bs-dismiss="alert", aria-label="Close")
      
      .row
        .col-12
          h1.display-6.mb-4= title
      
      block content

    footer.bg-dark.text-white.py-4.mt-5
  .container
    .row
      .col-md-4
        h5 HIS Hospital
        p Sistema de Gestión Hospitalaria Integral
      .col-md-4
        h5 Enlaces Rápidos
        ul.list-unstyled
          li
            a.text-white(href="/") Inicio
          li
            a.text-white(href="/admission/list") Admisiones
          li
            a.text-white(href="/patient/list") Pacientes
      .col-md-4
        h5 Contacto
        address
          | Av. Fundador 1234
          br
          | Ciudad (San Luis), País (Arg)
          br
          | Tel: +123 456 7890
    hr
    .text-center
      small © #{new Date().getFullYear()} HIS Hospital - Todos los derechos reservados
      
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js")
    script(src="/js/main.js")
    block scripts